@import "variables";

.events-list {
  padding: 0 15px;

  .event-item {

    margin-top: 15px;

    .image-wrapper {
      display: inline-block;
      width: 30%;
      img {
        height: 70px;
        width: 70px;
      }
    }

    .event-desc {
      display: inline-block;
      width: 70%;
      border-bottom: 2px solid $green;
      padding-bottom: 15px;
      vertical-align: top;
      height: 70px;
      .name {
        color: $cyan;
        font-weight: bold;
      }
      .date-time {
        vertical-align: bottom;
      }
    }
  }
}