@import "variables";

.header {
  background-color: $green;
  padding: 20px;
  display: flex;
  width: 100%;

  .header-logo {
    flex-basis: 15%;
  }

  .header-title {
    color: $black;
    font-size: 24px;
    font-weight: bold;
    flex-basis: 60%;
    text-align: center;
  }

  .filters {
    flex-basis: 20%;
  }
}